numpy>=1.6.1
scipy>=0.10.1
networkx>=1.7
matplotlib>=1.1.0
shapely>=1.2.14
descartes>=1.0
SimPy>=2.2
Pillow>=1.1.5
bitstring>=3.0.2
pyinterval>=1.0
osmapi>=0.3
imposm
basemap>=1.0
pandas>=0.12.0
mayavi>=4.3.1